<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <span> LMS - Learning Management System </span>
  <span class="fill-remaining-space"></span>
  <button id="dashboard" mat-button a routerLink="/dashboard">Home</button>
  <button id="student" mat-button a routerLink="/student">Student</button>
  <button id="program" mat-button [matMenuTriggerFor]="menuProgram" a routerLink="/program">Program</button>
  <mat-menu #menuProgram="matMenu">
    <button mat-menu-item  (click)="AddProgram()">Add New Program</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menuBatch" (click)="Batch()">Batch</button>
  <mat-menu #menuBatch="matMenu">
    <button mat-menu-item (click)="NewBatch()">Add New Batch</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menuClass" a routerLink="/session">Class</button>
  <!-- <button id="session" mat-button a routerLink="/session">Class</button> -->
  <mat-menu #menuClass="matMenu">
    <button mat-menu-item (click)="NewSession()">Add New Class</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menuUser" a routerLink="/user">
    User
  </button>
  <mat-menu #menuUser="matMenu">
    <button mat-menu-item (click)="NewUser()">Add New User</button>
    <button mat-menu-item (click)="AssignStaff()">Assign Staff</button>
    <button mat-menu-item (click)="AssignStudent()">Assign Student</button>
  </mat-menu>
  <button id="assignment" [matMenuTriggerFor]="menuAssign" a routerLink="/assignment" mat-button>Assigment</button>
  <mat-menu #menuAssign="matMenu">
    <button mat-menu-item (click)="AddAssign()">Add New Assignment</button>
  </mat-menu>
  <button id="attendance" [matMenuTriggerFor]="menuAttendance" a routerLink="/attendance" mat-button>Attendance</button>    
  <mat-menu #menuAttendance="matMenu">
    <button mat-menu-item (click)="AddAttendance()">Add Attendance</button>
  </mat-menu>
  <button id="logout" mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
</mat-toolbar>
